@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.hero {
  display: flex;
  place-content: center;
  min-height: 100vh;
  font-family: "Poppins";
  font-weight: var(--fw-400);
}
.hero img {
  height: 100%;
  position: absolute;
  right: 0px;
  z-index: 1;
}
.heroBack {
  position: absolute;
  font-size: 12rem;
  letter-spacing: 10px;
  width: 100%;
  font-weight: 900;
  color: #878a8f;
  text-shadow: 6px 6px 50px #b6b5b5;
  opacity: 0.2;
}

.container {
  display: flex;
  flex-direction: row;
}

.left {
  position: relative;
  top: 360px;
  margin-right: 50%;
  margin-left: 6%;
}

h5 {
  font-weight: 500;
  letter-spacing: 0.5em;
  color: #878a8f;
  font-size: small;
}
h1 {
  font-size: 3.875rem;
  line-height: 4.0625rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
h3 {
  font-weight: 500;
  font-size: medium;
  color: #878a8f;
  letter-spacing: normal;
  padding: 1rem 0rem;
}
/* button */
button {
  margin-top: 0px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: black;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: black;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

@media screen and (min-width: 100em) {
  .left {
    top: 450px;
  }
  h5 {
    font-size: large;
  }
  h1 {
    font-size: 4.875rem;
    margin-top: 1rem;
  }
  h3 {
    font-size: large;
    margin-top: 1rem;
  }
  button {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .heroBack {
    font-size: 15rem;
  }
  .hero img {
    height: 100%;
    width: 60vw;
    position: absolute;
    right: -3rem;
    z-index: 1;
  }
}

@media screen and (min-width: 130em) {
  .left {
    top: 600px;
  }
  h5 {
    font-size: x-large;
  }
  h1 {
    font-size: 5.875rem;
    margin-top: 1rem;
    line-height: 5.0625rem;
  }
  h3 {
    font-size: x-large;
    margin-top: 1rem;
  }
  button {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  button.learn-more {
    width: 25%;
  }
  button.learn-more .button-text {
    padding: 0.45rem 0;
  }

  .heroBack {
    font-size: 20rem;
  }
  .hero img {
    height: 100%;
    width: 60vw;
    position: absolute;
    right: -7rem;
    z-index: 1;
  }
}
