* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  display: flex;
  height: 150px;
}
header img {
  margin-top: -10%;
  margin-left: 3rem;
}

@media screen and (min-width: 130em) {
  header img {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 100em) {
  header img {
    margin-left: 5rem;
  }
}
